/* Tipografía */
.caudex-regular {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Caudex", serif;
}

body {
    background-color: #D9D9D9 !important;
    color: #0E0E0E;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

/* Navbar */
.navbar_body {
    background-color: #D9D9D9 !important;
}

.header_logo {
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
}

.logo_navbar_text {
    align-content: center;
}

.logo_navbar_img {
    width: 3.5rem;
}

.navbar_opciones {
    color: #737373;
    transition: color 0.25s;
}

.navbar_opciones:hover {
    color: #0E0E0E !important;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: inherit !important;
}

/* Contenido */

img{
    width: 100%;
}