/* Tipografía */
.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Caudex", serif;
}

body {
  background-color: #D9D9D9 !important;
  color: #0E0E0E;
  margin: 0;
}

/* Navbar */
.navbar_body {
  background-color: #D9D9D9 !important;
  padding-left: 5%;
  padding-right: 5%;
}

.header_logo {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
}

.logo_navbar_text {
  align-content: center;
  font-size: 2.5rem;
}

.logo_navbar_img {
  width: 6rem;
}

.navbar_opciones {
  color: #737373;
  transition: color 0.25s;
  font-size: 1.25rem !important;
  margin-left: 10px;
}

.navbar_opciones:hover {
  color: #0E0E0E !important;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: inherit !important;
}

.smooth-toggler {
  padding: 6px 8px;
  transition: all 0.3s ease;
}

.icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.smooth-toggler:hover .menu-image {
  transform: scale(1.1);
}

.menu-image.closing {
  opacity: 0;
  transform: scale(0.8) rotate(-125deg);
}

.menu-image.opening {
  opacity: 0;
  transform: scale(0.8) rotate(125deg);
}

@media (max-width: 1350px) {

  .logo_navbar_text {
    font-size: 2rem;
  }

  .logo_navbar_img {
    width: 5rem;
  }

  .navbar_opciones {
    font-size: 1.15rem !important;
  }
}

@media (max-width: 1130px) {
  .logo_navbar_text {
    font-size: 1.5rem;
  }

  .logo_navbar_img {
    width: 4rem;
  }

  .navbar_opciones {
    font-size: 1rem !important;
  }
}

/* Contenido */

.home {
  padding-left: 5%;
  padding-right: 5%;
}

.parte_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 5%
}

.parte_principal_parte1 {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.parte_principal_parte1 h2 {
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.parte_principal_parte2 {
  display: flex;
  justify-content: end;
  width: 40%;

}

.parte_principal_parte1 h1 {
  font-size: 70px;
  padding-top: 2.5%;
}

.parte_principal_texto {
  display: flex;
  margin-top: 5%;
}

.parte_principal_texto1 p,
.parte_principal_texto2 p {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 15px;
  margin: 0.25rem;
}

.parte_principal_texto1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.parte_principal_texto2 {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 50%;
}

.parte_principal_img {
  width: 100%;
  height: 750%;
}

.parte_principal_parte2 video {
  width: 100%;
  height: 100%;
}


@media (max-width:1684px) {
  .parte_principal_parte1 h1 {
    font-size: 60px;
    padding-top: 2.5%;
  }

  .parte_principal_parte2 video {
    width: 515px;
  }

}

@media (max-width:1500px) {
  .parte_principal_parte1 h1 {
    font-size: 50px;
  }

  .parte_principal_parte2 video {
    width: 450px;
  }

}

@media (max-width:1300px) {
  .parte_principal_parte1 h1 {
    font-size: 40px;
  }

  .parte_principal_parte2 video {
    width: 400px;
  }

}

@media (max-width:1150px) {
  .parte_principal_parte1 h1 {
    font-size: 30px;
  }

  .parte_principal_parte2 video {
    width: 350px;
  }

}

@media (max-width: 992px) {
  .parte_principal_parte1 {
    width: 100%;
  }

  .parte_principal_parte1 h1 {
    font-size: 50px;
  }

  .parte_principal_parte2 {
    display: none;
  }

  .parte_principal_texto2 p,
  .parte_principal_texto1 p {
    margin: 0.25rem;
  }

}

@media (max-width: 650px) {
  .parte_principal_parte1 h1 {
    font-size: 40px;
  }

  .parte_principal_texto1 {
    width: 60%;
  }

  .parte_principal_texto2 {
    width: 40%;
  }

}

@media (max-width: 500px) {
  .parte_principal_parte1 h1 {
    font-size: 30px;
  }

  .parte_principal_texto1 {
    width: 70%;
  }

  .parte_principal_texto2 {
    width: 30%;
  }

  .parte_principal_texto2 p,
  .parte_principal_texto1 p {
    font-size: x-small;
    margin: 0.1rem;
  }
}

@media (max-width: 400px) {
  .parte_principal_parte1 h1 {
    font-size: 30px;
  }

  .parte_principal_texto2 p,
  .parte_principal_texto1 p {
    font-size: xx-small;
    margin: 0.1rem;
  }
}

.parte_cliente {
  border-top: 1px solid #737373;
  margin-bottom: 5%;
}

.cliente_texto {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.cliente_texto h4 {
  font-size: 30px;
}

.cliente_texto p {
  margin-right: 7.5%;
}

.carusel_empresas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.carusel_empresas_img1 {
  width: 100px;
  height: 100%;
  filter: grayscale(100%);
}

.carusel_empresas_img2 {
  width: 150px;
  height: 100%;
  filter: grayscale(100%);
}

.carusel_fotos {
  margin-bottom: 5%;
}

.carusel_fotos_exposicion {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  align-items: end;
}

.carusel_fotos_img1 {
  width: 25%;
}

.carusel_fotos_img2 {
  width: 20%;
}

.carusel_fotos_img3 {
  width: 27.5%;
}

.carusel_fotos_img4 {
  width: 20%;
}

.carusel_fotos_texto {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  gap: 2%;
}

.carusel_fotos_texto1 {
  width: 80%;
}

.carusel_fotos_texto1 h1 {
  font-size: 160px;
}

.carusel_fotos_texto2 {
  width: 20%;
  align-content: center;
}

.carusel_fotos_texto2 p {
  font-size: 30px;
}

.carusel_productos {
  border-top: 1px solid #737373;
}

.productos_texto {
  width: 60%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.productos_texto h1 {
  font-size: 80px;
  margin-bottom: 3%;
}

.carusel_producto_exposicion {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 5%;
}

.carusel_producto_exposicion_ejemplo {
  overflow: hidden;
  height: auto;
  height: 100%;
}

.carusel_producto_exposicion_texto {
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 3%;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.carusel_producto_exposicion_texto h5 {
  font-size: 20px;
  margin: 0;
}

.carusel_producto_exposicion_texto img {
  width: 10px;
  height: 10px;
  transition: transform 0.75s ease;
}

.carusel_producto_exposicion_texto:hover img {
  transform: rotate(45deg);
}

.carusel_producto_exposicion_img {
  overflow: hidden;
}

.carusel_producto_exposicion_img img,
.carusel_producto_exposicion_img1 img {
  width: 100%;
  height: auto;
  transition: transform 0.75s ease;
}

.carusel_producto_exposicion_img1:hover img {
  filter: brightness(1.1) saturate(1.2);
}

.carusel_producto_exposicion_img img:hover {
  transform: scale(1.1);
}

.materiales {
  border-top: 1px solid #737373;
  margin-bottom: 5%;
}

.materiales_exposicion,
.materiales_exposicion_imagenes_carusel {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-top: 2%;
}

.materiales_exposicion_texto {
  width: 60%;
}

.materiales_exposicion_texto h2 {
  font-size: 60px;
  margin-bottom: 2%;
}

.materiales_exposicion_texto p {
  font-size: 20px;
}

.materiales_exposicion_imagenes {
  width: 40%;
  align-items: center;
  text-align: center;
}

.materiales_exposicion_imagenes_carusel {
  margin-bottom: 5%;
}

.materiales_caracteristicas img {
  width: 100px;
  margin-bottom: 5%;
}

.home2 {
  background-color: #376342;
  padding-left: 5%;
  padding-right: 5%;
  color: #D9D9D9;
}

.cliente_texto_home2 {
  padding-top: 5%;
  margin-bottom: 2%;
}

.personalizacion_titulo h2 {
  font-size: 40px;
  margin-bottom: 3%;
}

.personalizacion_contenido {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.personalizacion_contenido_imagen {
  width: 45%;
}

.personalizacion_contenido_imagen img {
  width: 100%;
}

#accordion-flush {
  max-width: 600px;
  overflow: hidden;
}

.accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: #D9D9D9;
  cursor: pointer;
}

.accordion-btn span {
  font-size: 17.5px;
}

.accordion-icon {
  width: 12px;
  height: 12px;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.accordion-btn[aria-expanded="true"] .accordion-icon {
  transform: rotate(180deg);
}

.accordion-body {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0 1.25rem;
  width: 100%;
  transition: height 0.35s cubic-bezier(0.25, 1, 0.3, 1), opacity 0.3s ease, padding 0.3s ease;
}

.accordion-body.open {
  opacity: 1;
  padding: 1.25rem;
  height: auto !important;
}

.accordion-body.open p {
  font-size: 20px;
}

.accordion-body p {
  margin-bottom: 0.75rem;
}

ul {
  padding-left: 1.25rem;
  list-style: disc;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-bottom: 5%;
}

.parent h2 {
  font-size: 50px;
}

.parent h5 {
  font-size: 25px;
}

.parent p {
  font-size: 20px;
}

.parent img {
  width: 100%;
  height: 100%;
}

.div1 {
  grid-column: span 2 / span 2;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
}

.div7 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
}

.div8 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 6;
}

.div9 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 5;
}

.div10 {
  grid-column: span 2 / span 2;
  grid-row-start: 7;
}


/* Footer */
.footer {
  background-color: #A0A0A0;
  color: #D9D9D9;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 40%;
  align-items: center;
}

.footerLogo img {
  width: 250px;
}

.footerLogo h1 {
  font-size: 125px;
  text-align: center;
}

.footerTexto {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footerdescripcion p {
  text-align: left !important;
  font-size: 25px !important;
  font-family: 'Courier New', Courier, monospace !important;
  margin: 0;
}

@media (max-width: 1800px) {
  .footerLogo h1 {
    font-size: 100px;
  }

  .footerLogo img {
    width: 225px;
  }

  .footerdescripcion p {
    font-size: 20px !important;
  }
}

@media (max-width: 1300px) {
  .footerLogo h1 {
    font-size: 70px;
  }

  .footerLogo img {
    width: 175px;
  }

  .footerdescripcion p {
    font-size: 15px !important;
  }
}

@media (max-width: 991px) {
  .footer {
    display: block;
  }

  .footerLogo {
    width: 100%;
    justify-content: center;
  }

  .footerTexto {
    width: 100%;
    margin-top: 2%;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .footerLogo h1 {
    font-size: 50px;
  }

  .footerLogo img {
    width: 125px;
  }

  .footerdescripcion p {
    font-size: 10px !important;
  }
}

@media (max-width: 400px) {
  .footerLogo h1 {
    font-size: 40px;
  }

  .footerLogo img {
    width: 100px;
  }

  .footerdescripcion p {
    font-size: 7.5px !important;
  }
}