/* Tipografía */
.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Caudex", serif;
}

body {
  background-color: #D9D9D9 !important;
  color: #0E0E0E;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}

/* Navbar */
.navbar_body {
  background-color: #D9D9D9 !important;
}

.header_logo {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
}

.logo_navbar_text {
  align-content: center;
}

.logo_navbar_img {
  width: 3.5rem;
}

.navbar_opciones {
  color: #737373;
  transition: color 0.25s;
}

.navbar_opciones:hover {
  color: #0E0E0E !important;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: inherit !important;
}

/*Zona Exclusiva*/
.h1_zonaExclusiva {
  font-size: 60px;
  margin-top: 1.5%;
}

.grafico1 {
  width: 100%;
  margin-bottom: 5%;
}

.h2_zonaExclusiva {
  font-size: 40px;
}

.contenedor_tabla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.grafico2 {
  width: 49%;
}

.grafico2 img {
  width: 100%;
}

.table-container {
  width: 49%;
}

table {
  width: 100%;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: 600;
  font-size: 0.95rem;
  border-bottom: 1px solid #737373 !important;
}

td {
  font-size: 0.95rem;
}

.contenedor_factura {
  display: flex;
  justify-content: center;
  align-items: center;
}

.factura_mensual {
  background-color: #376342;
  border-radius: 25px;
  padding: 25px 50px;
  width: 50%;
  color: #D9D9D9;
  margin-top: 5%;
  margin-bottom: 5%;
}

.factura_info {
  width: 80%;
}

.factura_titulo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.factura_titulo p {
  font-size: 20px;
}

.contenedor_placas {
  align-items: end;
}

.placas_info {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  gap: 6%;
  margin-bottom: 5%;

}

.placas_texto {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_info {
  width: 47%;
  display: flex;
  justify-content: end;
}

.img_info img {
  width: 100%;
}

.contenedor_contacto_texto_principal {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.contenedor_contacto_texto_principal2 {
  width: 70%;
  text-align: center;
}

.contenedor_contacto_texto {
  display: flex;
  justify-content: center;
  gap: 6%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.contenedores_texto {
  width: 20%;
}

.contenedor_contacto_img {
  width: 40%;
}

.contenedor_contacto_img img {
  width: 100%;
}

.contenedor_contacto_texto_boton {
  display: flex;
  border: none;
  border-radius: 25px;
  background-color: #0E0E0E;
  color: #D9D9D9;
  padding: 10px 20px;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  margin: 0px !important;
}

.contenedor_contacto_texto_boton p {
  margin: 0;
}

.contenedor_contacto_texto_boton img {
  width: 20px;
  height: 20px;
  transition: transform 1s ease;
}

.contenedor_contacto_texto_boton:hover img {
  transform: rotate(25deg);
}

@media (max-width: 1300px){
  .factura_mensual{
    width: 80%;
  }

  .factura_titulo p{
    font-size: 15px;
  }
}

@media (max-width: 991px){
  .h1_zonaExclusiva{
    font-size: 40px;
  }

  .contenedor_tabla{
    flex-direction: column;
  }

  .grafico2{
    width: 75%;
  }

  .table-container{
    width: 100%;
  }
}

@media (max-width: 870px){
  .factura_titulo p{
    font-size: 12px;
  }

  .contenedor_contacto p{
    font-size: 12.5px;
  }
}



@media (max-width: 700px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 0.8rem;
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;
  }

  td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #666;
  }
}
